cm_master_router-flow.json
[
    {
        "id": "main.flow",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "test.flow",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eacbb9ef.69d5c8",
        "type": "EventListener",
        "z": "main.flow",
        "name": "Recieve Task ids",
        "provider": "aws",
        "eventSource": "sqs",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/hello",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "reference": "",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreName": "",
        "zapiUrl": "",
        "x": 120,
        "y": 160,
        "wires": [
            [
                "c3418e1a.7e7bc"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "5eb3cd61.894f04",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log_TaskId",
        "level": "INFO",
        "message": "{'taskId' : msg.payload. Records[0].body }",
        "format": "json",
        "headers": {},
        "x": 310,
        "y": 160,
        "wires": [
            [
                "31cedfc0.e66a2"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "b5fc6ccd.17dd7",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"hello\": \"world\"}",
        "x": 822.5,
        "y": 160,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "b970b7d2.5454c8",
        "type": "Assertion",
        "z": "test.flow",
        "name": "check response",
        "selector": "jsonBody",
        "property": "hello",
        "comparison": "equals",
        "value": "world",
        "x": 265,
        "y": 160,
        "wires": [
            [
                "e0721cc7.653eb"
            ]
        ],
        "caname": "test-assertion",
        "category": "testing"
    },
    {
        "id": "e0721cc7.653eb",
        "type": "TestCaseEnd",
        "z": "test.flow",
        "name": "TestCaseEnd",
        "x": 425,
        "y": 160,
        "wires": [],
        "caname": "test-case-end",
        "category": "testing"
    },
    {
        "id": "e8fb91dc.46c24",
        "type": "HTTPTestCase",
        "z": "test.flow",
        "name": "HTTPTestCase",
        "method": "GET",
        "path": "/hello",
        "headers": {
            "Accept": "application/json"
        },
        "authtype": "none",
        "secUser": "",
        "secPassword": "",
        "secToken": "",
        "payload": "",
        "x": 122.5,
        "y": 160,
        "wires": [
            [
                "b970b7d2.5454c8"
            ]
        ],
        "caname": "http-test-case",
        "category": "testing"
    },
    {
        "id": "c3418e1a.7e7bc",
        "type": "JSON",
        "z": "main.flow",
        "name": "JSON",
        "property": "msg.payload",
        "action": "obj",
        "pretty": true,
        "x": 202.5,
        "y": 160,
        "wires": [
            [
                "5eb3cd61.894f04"
            ]
        ],
        "caname": "JSON",
        "category": "transformation"
    },
    {
        "id": "c3d1a63e.30c808",
        "type": "Lambda",
        "z": "main.flow",
        "operation": "InvokeAsync",
        "LambdaArn": "arn:aws:lambda:ap-southeast-2:174842903734:function:testfunction1",
        "InvokeArgs": "msg.payload. Records[0].body",
        "Timeout": "10000",
        "name": "Patient export",
        "x": 622.5,
        "y": 80,
        "wires": [
            [
                "acac6b23.ccf9e8"
            ]
        ],
        "caname": "lambda",
        "category": "aws"
    },
    {
        "id": "31cedfc0.e66a2",
        "type": "Switch",
        "z": "main.flow",
        "name": "Switch",
        "property": "$number( msg.payload. Records[0].body )",
        "propertyType": "",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "repair": false,
        "outputs": 3,
        "x": 422.5,
        "y": 160,
        "wires": [
            [
                "98bfbd5b.689cc"
            ],
            [
                "a5af1bf5.2f8c38"
            ],
            [
                "46fa8bf6.bfd5c4"
            ]
        ],
        "caname": "switch",
        "category": "routing"
    },
    {
        "id": "197f6c64.ec7c94",
        "type": "Lambda",
        "z": "main.flow",
        "operation": "InvokeAsync",
        "LambdaArn": "arn:aws:lambda:ap-southeast-2:174842903734:function:testfunction1",
        "InvokeArgs": "msg.payload. Records[0].body",
        "Timeout": "10000",
        "name": "Appointments",
        "x": 622.5,
        "y": 160,
        "wires": [
            [
                "60daa8d4.52dea8"
            ]
        ],
        "caname": "lambda",
        "category": "aws"
    },
    {
        "id": "46fa8bf6.bfd5c4",
        "type": "Logger",
        "z": "main.flow",
        "name": "Logger",
        "level": "INFO",
        "message": "Invalid taskid",
        "format": "string",
        "headers": {},
        "x": 602.5,
        "y": 280,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "98bfbd5b.689cc",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log_OutBound",
        "level": "INFO",
        "message": "Patient export route",
        "format": "string",
        "headers": {},
        "x": 522.5,
        "y": 80,
        "wires": [
            [
                "c3d1a63e.30c808"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "a5af1bf5.2f8c38",
        "type": "Logger",
        "z": "main.flow",
        "name": "Log_OutBound",
        "level": "INFO",
        "message": "Appointment export route",
        "format": "string",
        "headers": {},
        "x": 522.5,
        "y": 160,
        "wires": [
            [
                "197f6c64.ec7c94"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "acac6b23.ccf9e8",
        "type": "Logger",
        "z": "main.flow",
        "name": "Logger",
        "level": "INFO",
        "message": "Patient export completed",
        "format": "string",
        "headers": {},
        "x": 722.5,
        "y": 80,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    },
    {
        "id": "60daa8d4.52dea8",
        "type": "Logger",
        "z": "main.flow",
        "name": "Logger",
        "level": "INFO",
        "message": "Appointment export completed",
        "format": "string",
        "headers": {},
        "x": 722.5,
        "y": 160,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "logger",
        "category": "logging"
    }
]