cm_master_router-flow.json
[
    {
        "id": "main.flow",
        "type": "tab",
        "label": "main",
        "disabled": false,
        "info": ""
    },
    {
        "id": "test.flow",
        "type": "tab",
        "label": "test",
        "disabled": false,
        "info": ""
    },
    {
        "id": "eacbb9ef.69d5c8",
        "type": "EventListener",
        "z": "main.flow",
        "name": "Recieve Task ids",
        "provider": "aws",
        "eventSource": "sqs",
        "dynamodbOperation": "",
        "apiMethod": "get",
        "apiUrl": "/hello",
        "albMethod": "any",
        "albUrl": "",
        "bucketName": "",
        "event": "",
        "reference": "",
        "kapiUrl": "",
        "kcronexpression": "",
        "kreference": "",
        "kObjectStoreName": "",
        "zapiUrl": "",
        "x": 42.5,
        "y": 200,
        "wires": [
            [
                "c3418e1a.7e7bc"
            ]
        ],
        "caname": "event-handler",
        "category": "general"
    },
    {
        "id": "b5fc6ccd.17dd7",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Success",
        "statusCode": "200",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"status\": \"completed\"}",
        "x": 845,
        "y": 200,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "b970b7d2.5454c8",
        "type": "Assertion",
        "z": "test.flow",
        "name": "check response",
        "selector": "jsonBody",
        "property": "hello",
        "comparison": "equals",
        "value": "world",
        "x": 265,
        "y": 160,
        "wires": [
            [
                "e0721cc7.653eb"
            ]
        ],
        "caname": "test-assertion",
        "category": "testing"
    },
    {
        "id": "e0721cc7.653eb",
        "type": "TestCaseEnd",
        "z": "test.flow",
        "name": "TestCaseEnd",
        "x": 425,
        "y": 160,
        "wires": [],
        "caname": "test-case-end",
        "category": "testing"
    },
    {
        "id": "e8fb91dc.46c24",
        "type": "HTTPTestCase",
        "z": "test.flow",
        "name": "HTTPTestCase",
        "method": "GET",
        "path": "/test",
        "headers": {
            "Accept": "application/json"
        },
        "authtype": "none",
        "secUser": "",
        "secPassword": "",
        "secToken": "",
        "payload": "",
        "mocks": [],
        "x": 122.5,
        "y": 160,
        "wires": [
            [
                "b970b7d2.5454c8"
            ]
        ],
        "caname": "http-test-case",
        "category": "testing"
    },
    {
        "id": "c3418e1a.7e7bc",
        "type": "JSON",
        "z": "main.flow",
        "name": "JSON",
        "property": "msg.payload",
        "action": "obj",
        "pretty": true,
        "x": 102.5,
        "y": 200,
        "wires": [
            [
                "e69d24a7.4c45f8"
            ]
        ],
        "caname": "JSON",
        "category": "transformation"
    },
    {
        "id": "c3d1a63e.30c808",
        "type": "Lambda",
        "z": "main.flow",
        "operation": "InvokeAsync",
        "LambdaArn": "arn:aws:lambda:ap-southeast-2:174842903734:function:dev-cm-medical-history-flow",
        "InvokeArgs": "msg.payload.Records[0].body",
        "Timeout": "10000",
        "name": "Invoke Medicalhistory export",
        "x": 625,
        "y": 60,
        "wires": [
            [
                "5b9dead9.c2d2f4"
            ]
        ],
        "caname": "lambda",
        "category": "aws"
    },
    {
        "id": "31cedfc0.e66a2",
        "type": "Switch",
        "z": "main.flow",
        "name": "CheckTaskId",
        "property": "$number( msg.taskid )",
        "propertyType": "",
        "rules": [
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "repair": false,
        "outputs": 3,
        "x": 382.5,
        "y": 200,
        "wires": [
            [
                "329428ae.9a2c38"
            ],
            [
                "5c2f1b3b.6eeaa4"
            ],
            [
                "42ec9392.34985c"
            ]
        ],
        "caname": "switch",
        "category": "routing"
    },
    {
        "id": "197f6c64.ec7c94",
        "type": "Lambda",
        "z": "main.flow",
        "operation": "InvokeAsync",
        "LambdaArn": "arn:aws:lambda:ap-southeast-2:174842903734:function:testfunction2",
        "InvokeArgs": "msg.payload. Records[0].body",
        "Timeout": "10000",
        "name": "Invoke Appointments export",
        "x": 625,
        "y": 200,
        "wires": [
            [
                "a72e96c1.f57538"
            ]
        ],
        "caname": "lambda",
        "category": "aws"
    },
    {
        "id": "83a4fced.4e918",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_In",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"service-in\", \"message\" : \"SQS event recieved\", \"data\": msg.payload, \"btxnid\": msg.bid,\"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 302.5,
        "y": 200,
        "wires": [
            [
                "31cedfc0.e66a2"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "329428ae.9a2c38",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_MedicalHistoryExportRoute",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"log\", \"message\" : \"Medical history export route\", \"data\": \"\", \"btxnid\": msg.bid, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 502.5,
        "y": 60,
        "wires": [
            [
                "c3d1a63e.30c808"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "5c2f1b3b.6eeaa4",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_AppointmentExportRoute",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"log\", \"message\" : \"Appointment export route\", \"data\": \"\",\"btxnid\": msg.bid, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 502.5,
        "y": 200,
        "wires": [
            [
                "197f6c64.ec7c94"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "5b9dead9.c2d2f4",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_MedicalHistoryExportRouteCompleted",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"service-out\", \"message\" : \"Medical history export route completed\", \"data\": \"\", \"btxnid\": msg.bid, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 722.5,
        "y": 60,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "a72e96c1.f57538",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_AppointmentExportRouteCompleted",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"service-out\", \"message\" : \"Appointment export route completed\", \"data\": \"\", \"btxnid\": msg.bid, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 722.5,
        "y": 200,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "42ec9392.34985c",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_AppointmentExportRouteCompleted",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\": \"service-out\", \"message\" : \"Invalid task id\", \"data\": $number( msg.payload. Records[0].body ), \"btxnid\": msg.bid, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 622.5,
        "y": 340,
        "wires": [
            [
                "b5fc6ccd.17dd7"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "76382c4c.ac4004",
        "type": "catch",
        "z": "main.flow",
        "name": "catch invoke medical history failure",
        "scope": [
            "c3d1a63e.30c808"
        ],
        "uncaught": false,
        "x": 262.5,
        "y": 460,
        "wires": [
            [
                "d16a10a4.71939"
            ]
        ],
        "caname": "catch",
        "category": "exception"
    },
    {
        "id": "d16a10a4.71939",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_Error",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string(  {\"type\":\"error\", \"message\" : \"Patient invoke failed\", \"data\": msg.error,\"btxnid\": msg.bid,  \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 382.5,
        "y": 460,
        "wires": [
            [
                "cbcba43c.f29408"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "cbcba43c.f29408",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Failed",
        "statusCode": "400",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"hello\": \"world\"}",
        "x": 502.5,
        "y": 460,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "ee8280d1.2619",
        "type": "catch",
        "z": "main.flow",
        "name": "catch invoke appointment failure",
        "scope": [
            "197f6c64.ec7c94"
        ],
        "uncaught": false,
        "x": 262.5,
        "y": 560,
        "wires": [
            [
                "63eba788.a20868"
            ]
        ],
        "caname": "catch",
        "category": "exception"
    },
    {
        "id": "63eba788.a20868",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_Error",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"error\", \"message\" : \"Appointment invoke failed\", \"data\": msg.error, \"btxnid\": msg.bid, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 382.5,
        "y": 560,
        "wires": [
            [
                "4033df9b.7548f"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "4033df9b.7548f",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Failed",
        "statusCode": "400",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"hello\": \"world\"}",
        "x": 502.5,
        "y": 560,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "35b9e777.f57108",
        "type": "catch",
        "z": "main.flow",
        "name": "catchAll",
        "scope": null,
        "uncaught": false,
        "x": 262.5,
        "y": 660,
        "wires": [
            [
                "b38e4bad.6a5028"
            ]
        ],
        "caname": "catch",
        "category": "exception"
    },
    {
        "id": "b38e4bad.6a5028",
        "type": "Datadog",
        "z": "main.flow",
        "name": "Log_Error",
        "loglevel": "Info",
        "host": "env.datadoghost",
        "hostType": "",
        "service": "env.servicename",
        "serviceType": "",
        "key": "env.datadogkey",
        "keyType": "",
        "property": "$string( {\"type\":\"error\", \"message\" : \"Unknown failure\", \"data\": msg.error, \"btxnid\": msg.bid, \"txnid\" : msg._msgid } )",
        "propertyType": "",
        "x": 382.5,
        "y": 660,
        "wires": [
            [
                "4fefe794.602108"
            ]
        ],
        "caname": "datadog",
        "category": "logging"
    },
    {
        "id": "4fefe794.602108",
        "type": "EventListener-End",
        "z": "main.flow",
        "name": "Failed",
        "statusCode": "400",
        "headers": {
            "Content-Type": "application/json"
        },
        "payload": "{\"hello\": \"world\"}",
        "x": 502.5,
        "y": 660,
        "wires": [],
        "caname": "eventlistenerend",
        "category": "general"
    },
    {
        "id": "e69d24a7.4c45f8",
        "type": "Set-Property",
        "z": "main.flow",
        "name": "Set Bussiness trace id and taskid",
        "rules": [
            {
                "t": "set",
                "p": "bid",
                "pt": "camsg",
                "to": "payload.bid",
                "tot": "jsonata"
            },
            {
                "t": "set",
                "p": "taskid",
                "pt": "camsg",
                "to": "$eval(msg.payload.Records[0].body).taskid",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 182.5,
        "y": 200,
        "wires": [
            [
                "83a4fced.4e918"
            ]
        ],
        "caname": "setproperty",
        "category": "transformation"
    }
]